.our-category-bg-middle{
    background-image: url(../Images/11.png);
}

.unique-offerings{
    background-image: url(../Images/ProductCategory.png);
    background-size: cover;
    background-repeat: no-repeat;
}